<%= simple_form_for @profile, url: account_profile_path do |f| %>
<%= f.input :first_name %>
<%= f.input :last_name %>
<%= f.input :address %>
<%= f.input :expert , as: :boolean %>

<p>
  <%= f.button :submit %>
</p>
<% end %>


