<div class="profil">
  <div class="container product">
    <img src='https://unsplash.it/200/?random' class="avatar-square"/>
    <div class="product-body">
      <h2><%= "Welcome #{@profile.first_name}!" %></h2>
      <p><%= " Member since  : #{@profile.created_at.strftime('%d/%m/%Y')} "%>
        <% if @profile.expert %>
        <p><%= "You are an expert !" %></p>
        <% else %>
        <p><%= "You are jeunscool" %></p>
        <% end %>
        <%=link_to "Edit my profile", edit_account_profile_path%></p>
      </div>
      <div class="product-body profil-right-side">
      <% if @profile.expert && (@reviews.count != 0)%>
        <h3><%="The latest review from : #{@reviews.last.sender.profile.first_name}"%></h3>
        <p><%= "Comment : '#{@reviews.last.description}'" %></p>
        <p><%= "Note : #{@reviews.last.stars}/5" %></p>
        <%=link_to "More reviews", account_reviews_path%></h3>
        <% end %>
      </div>
    </div>

    <% if current_user.profile.expert %>
    <div class="container padded ">
      <div class="row">
        <h3><%= "My services #{@services.count} -" %>
          <%=link_to "Add more services", new_account_service_path%></h3>

          <% @services.each do |service| %>
          <div class="col-xs-12 col-sm-3">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://unsplash.it/200/?random');">
              <div class="card-category">
                <h4><%= service.title %></h4>
                <p><%= service.description %></p>
               <p> <%= service.city %></p>
              </div>
              <div class="card-description">
                <%= link_to "Edit", edit_account_service_path(service), class: 'btn btn-warning' %>
                <%= link_to "Remove", account_service_path(service), method: :delete, class: 'btn btn-success' %>
              </div>
            </div>
          </div>
          <% end %>
        </div>

      </div>
    </div>
    <% else %>
    <p> You have no bookings </p>
    <% end %>
  </div>
