<div class="profil">
  <br>
  <h2><%= "#{@profile.first_name}, here your reviews !" %></h2>
  <% @reviews.each do |review| %>
  <div class="container product ">
    <img src='https://unsplash.it/200/?random' class="avatar-large-pp"/>
    <div class="product-body">
      <p><%= " Review from : #{review.sender.profile.first_name}" %></p>

      <p><%= "Comment : '#{review.description}'" %></p>
      <p><%= " Note : #{review.stars}""/5" %></p>
    </div>
    <div class="product-body profil-right-side">
      <p><%= " Date review : #{review.updated_at.strftime('%d/%m/%Y')}" %></p>
    </div>
    <hr>
  </div>
  <% end %>
</div>


